.parent {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 7vh 1fr 5vh;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  
  .header { 
    grid-area: 1 / 1 / 2 / 4; 
    background-color: darkslategray;
    color: #fff;
  }
  .content { 
    grid-area: 2 / 1 / 3 / 4; 
    background-color:aliceblue;
  }
  .footer { 
    grid-area: 3 / 1 / 4 / 4; 
    background-color:chocolate;
    color: white;
  }